@page "/RoomType/EditRoomType/{Id:int}"
@inherits EditRoomTypeBase

@if (ErrorMessage != null)
{
    <p>@ErrorMessage</p>
}

<h3 class="text-center mainHeaderText mb-1">Edit Room Type:</h3>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <form>
                        <div class="form-group">
                            <label class="label-name">Name:</label>
                            <div>
                                <input @bind="roomType.Name" class="form-control p-2 rounded-2" />
                            </div>

                        </div>
                    </form>

                    <div class="d-grid gap-2 mt-3">
                        <button @onclick="@(async()=> {
        if(roomType.Name != null)
        {
            await UpdateCategory();
        }
        })" class="btn btn-secondary btnSubmit buttonText">
                            <i class="mdi mdi-pencil"></i> Edit Type
                        </button>
                        <a class="btn btn-light btnCancel buttonText" href="/"><i class="mdi mdi-close-circle"></i>Cancel</a>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>